* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
}

header {
  background-color: #b1ade2;
  background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 20%;
  margin-top: 25px;
  background-color: rgb(236, 233, 233);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

nav h3 {
  color: #380036;
  font-size: 20px;
  margin-top: -20px;
  padding-top: 15px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: rgb(236, 233, 233);
}

nav ul a {
  text-decoration: none;
  color: #690697;
}

nav ul li {
  list-style-image: url(icon/icon.jpg);
  font-size: 13px;
  margin-left: 40px;
  padding-bottom: 10px;
}

article {
  float: left;
  padding: 20px; /*5px*/
  width: 50%;
  color: #690697;
  margin-top: 0px;
}

article h1 {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  color: #690697;
}

article img {
  box-shadow: 10px 10px 101px 0px rgba(1, 0, 36, 0.699);
  -webkit-box-shadow: 10px 10px 101px 0px rgba(1, 0, 36, 0.699);
  -moz-box-shadow: 10px 10px 101px 0px rgba(1, 0, 36, 0.699);
  border-radius: 50%;
}

section::after {
  background: white;
  content: '';
  display: table;
  clear: both;
  height: 20px;
}

.name {
  color: #160115;
  margin-bottom: 0;
  font-size: 20px;
  text-align: center;
}

#secundario {
  display: flex;
}

#ladodireito {
  margin-top: 30px;
  margin-left: 250px;
  display: inline;
}

#ladodireito img {
  background-color: white;
}

#ladodireito a {
  display: inline;
}

#ladoesquerdo {
  margin-top: 30px;
  margin-left: 140px;
}

.button {
  text-decoration: none;
  padding: 10px;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
  height: 5rem;
  transition: background 0.1s;
  border-radius: 30em;
  color: white;
  margin-left: 30px;
}

.button:hover {
  background: #3cfad6;
}

.botao {
  margin-top: 25px;
}

#fundo {
  background-image: url(./img/fundo2.jpg);
}

.sobre {
  margin-right: 150px;
}

.container {
  color: #160115;
  display: inline-block;
  background-color: white;
  padding: 10px 40px;
  margin-top: 20px;
  justify-content: center;
  text-align: justify;
  border-radius: 10px;
}

.container h2 {
  margin-top: 10px;
}

.contact {
  margin-left: 90px;
  display: inline-flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact p {
  color: #53034f;
  font-size: 15px;
}

.contact a {
  text-decoration: none;
}

.falecmg {
  width: 300px;
}

#ladodir {
  margin-top: 70px;
  margin-left: 250px;
  display: inline;
}

#formulario {
  background-image: url(./img/fundo.jpg);
}

.subtitle {
  color: #531552;
  margin-left: 9rem;
  margin-bottom: 0;
  background-color: rgb(236, 233, 233);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

p {
  font-size: 1rem;
  color: #690697;
}

form div {
  margin: 10px 10px 20px 140px;
  width: 90%;
  padding: 0.5rem;
  background-color: rgb(236, 233, 233);
  border-radius: 10px;
  color: #690697;
}

[type='text'],
[type='email'],
textarea,
label {
  display: inline-table;
  width: 100%;
  border-radius: 5px;
  padding: 0.3rem;
  color: #690697;
  margin-bottom: 0;
  font-size: 1rem;
  font-family: sans-serif;
}

[type='text'],
[type='email'],
textarea {
  border-color: white;
  background-color: white;
}

[type='submit'] {
  text-decoration: none;
  text-align: center;
  padding: 10px 30px;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  transition: background 0.1s;
  border-radius: 10em;
  color: white;
  border: none;
}

[type='submit']:hover {
  background-color: #0afff3;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #31d1c4 74%);
  color: #ffffff;
}

#fundo2 {
  background-color: transparent;
}

.linkf:hover {
  color: #7a787a;
}

footer {
  margin-top: 0;
  background-color: #b1ade2;
  background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);
  padding: 10px;
  text-align: center;
  color: #160115;
}

.foot {
  color: #380036;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #7a787a;
}

/* MOBILE FIRST */

/*TABLETS*/

@media (min-width: 769px) {
  body {
    background-color: rgb(236, 232, 232);
  }
}

@media (max-width: 768px) {
  body {
    background-color: rgb(200, 231, 250);
    width: 100%;
  }

  header,
  nav,
  footer {
    width: 300%;
  }

  article {
    margin-left: 300px;
  }

  .navform {
    width: 120%;
  }

  #formulario {
    width: 250%;
  }

  .container {
    width: 320%;
    margin-left: 150px;
  }

  #fundo {
    background-image: none;
  }

  #formulario {
    background-image: none;
  }
}

/*SMARTPHONES*/
@media (max-width: 425px) {
  /*INFERIOR OU IGUAL*/
  body {
    width: 100%;
    background-color: rgb(230, 204, 255);
  }

  header,
  nav,
  footer {
    width: 250%;
  }

  article {
    margin-left: 100px;
  }

  #fundo {
    background-image: none;
  }

  .navform {
    width: 100%;
  }

  #formulario {
    background-image: none;
  }

  .container {
    width: 350%;
    margin-left: 150px;
  }
}
