* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(242, 233, 250);
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  max-width: 1198px;
  margin: 0 auto;
  width: 100vw;
}

.container {
  display: block;
  float: left;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: rgb(34, 26, 43);
  display: block;
  float: left;
  width: 100%;
  border-bottom: 1px solid rgb(34, 26, 43);
  padding: 20px;
}

header img {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

h1 {
  font-size: 2.4rem;
  color: rgb(34, 26, 43);
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  color: rgb(34, 26, 43);
  margin-bottom: 20px;
}

h3 {
  font-size: 1.8rem;
  color: rgb(34, 26, 43);
  margin-bottom: 20px;
  padding-top: 10px;
}

h4 {
  font-size: 1.6rem;
  color: rgb(182, 60, 182);
  margin-bottom: 10px;
  padding-top: 10px;
}

p {
  margin-bottom: 10px;
  line-height: 1.4;
  color: lightslategray;
}

ol {
  margin-left: 30px;
}

ol li {
  font-size: 1.4rem;
  color: lightslategray;
}

article ul {
  margin-bottom: 10px;
}
section {
  background-color: #fff;
  display: block;
  float: left;
  font-size: 1.5rem; /*equivalente a 15px*/
  width: 100%;
  padding: 20px;
}

section nav {
  display: block;
  float: left;
  width: 20%;
}

nav li {
  margin: 1px 20px 1px 0;
  padding-top: 10px;
  font-weight: bold;
  list-style: none;
  border-bottom: 0.5px rgb(34, 26, 43);
}

nav li:hover {
  background-color: rgba(236, 234, 236, 0.651);
}

nav li a {
  text-decoration: none;
  color: rgb(34, 26, 43);
}

nav a:hover {
  color: rgb(182, 60, 182);
}
section article {
  display: block;
  float: left;
  width: 80%;
}

footer {
  background-color: rgb(34, 26, 43);
  color: #fff;
  display: block;
  float: left;
  width: 100%;
  padding: 20px;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}

footer small {
  font-size: 80%;
  display: block;
}
